_/
dev/
dev.*

packrat/lib*/
packrat/src/*
!packrat/src/packrat

inst/model/*
!inst/model/README.md

inst/infer/*
!inst/infer/README.md

inst/couple/*
!inst/couple/model_k25.RDS
!inst/couple/theta_k25.RDS
!inst/couple/item_k25.RDS

inst/window/*
!inst/window/README.md

doc
inst/doc
Meta

.Rproj.user

*.Rhistory 
*.log
